@import "tailwindcss";

.radio-input:checked + .radio-label {
    background-color: white;
    color: black;
}

.radio-label {
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

::-webkit-scrollbar {
    display: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


/* Jika menggunakan theme "snow", pastikan background toolbar tetap gelap */
.ql-toolbar.ql-snow {
    background-color: white;
    border: 1px solid #333;
    color: white;
}