@import "tailwindcss";

.radio-input:checked + .radio-label {
    background-color: white;
    color: black;
}

.radio-label {
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

::-webkit-scrollbar {
    display: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.quill {
    display: flex;
    flex-direction: column;
    height: 100%; /* Mengikuti tinggi parent yang sudah diset h-full */
    overflow: hidden;
}

.ql-toolbar.ql-snow {
    background-color: white;
    border: 1px solid white;
    color: blue;
}

.ql-container.ql-snow {
    flex: 1; 
    overflow-y: auto;
    border: 1px solid white !important; /* Menyesuaikan tema putih Anda */
    font-size: 1rem;
}

.ql-editor {
    color: white;
}

.ql-editor.ql-blank::before {
    color: rgba(255, 255, 255, 0.6) !important;
    font-style: normal;
}